<div class="content_description" id="sobre">
    <div class="description__text" data-aos="fade-right" data-aos-duration="1000">
        <p>
           <%=  lang.content_description.text %>
        </p>
        <span><%= lang.content_description.join_us %></span>
    </div>
    <div class="description__img" data-aos="fade-left" data-aos-duration="1000">
        <img src="description.webp" alt="Sobre Nosotros">
    </div>
</div>