<div class="content_proyect" id="proyecto">
    <h2 data-aos="fade-right" data-aos-duration="1500"><%= lang.content_proyect.title %></h2>
    <p data-aos="fade-right" data-aos-duration="2000"><%= lang.content_proyect.description %></p>
    <div class="proyects">
        <div class="group_proyect proyect_1"><a href="#" style="width: 100%;height:100%;display:block;"></a></div>
        <div class="group_proyect proyect_2"><a href="#" style="width: 100%;height:100%;display:block;"></a></div>
        <div class="group_proyect proyect_3"><a href="#" style="width: 100%;height:100%;display:block;"></a></div>
        <div class="group_proyect proyect_4"><a href="#" style="width: 100%;height:100%;display:block;"></a></div>
        <div class="group_proyect proyect_5"><a href="#" style="width: 100%;height:100%;display:block;"></a></div>
        <div class="group_proyect proyect_6"><a href="#" style="width: 100%;height:100%;display:block;"></a></div>
        <div class="group_proyect proyect_7"><a href="#" style="width: 100%;height:100%;display:block;"></a></div>
        <div class="group_proyect proyect_8"><a href="#" style="width: 100%;height:100%;display:block;"></a></div>
    </div>
</div>